TUPLAS
— São imutáveis

In [1]:
pessoas = ('Fernanda', 'Gabriel', 'Ricardo', 'Paula', 'Leandro')

In [2]:
pessoas[2]

'Ricardo'

In [3]:
pessoas[0:2]

('Fernanda', 'Gabriel')

In [4]:
pessoas[-1] # acessando o último elemento da tupla

'Leandro'

In [5]:
pessoas.count('Fernanda') # mostra número de ocorrências de um parâmetro

1

In [6]:
pessoas.index('Paula') # devolve posição de um parâmetro

3

In [7]:
for pessoa in pessoas:
    print(pessoa, end=' ')

Fernanda Gabriel Ricardo Paula Leandro

In [8]:
type(pessoas)

tuple

In [9]:
numeros = 1, 2, 3, 4 # tuplas não precisam do parenteses

In [10]:
type(numeros)

tuple

In [12]:
nao_eh_tupla = ('Fernanda') # uma regra para tupla é que deve ter pelo menos uma vírgula
print(type(nao_eh_tupla))
print(nao_eh_tupla)

<class 'str'>
Fernanda

In [13]:
agora_eh_tupla = ('Fernanda', )
print(type(agora_eh_tupla))
print(agora_eh_tupla)

<class 'tuple'>
('Fernanda',)

In [14]:
numeros = 4, 3, 2, 1

In [16]:
print(type(numeros))
print(sorted(numeros)) # tuplas podem ser classificadas

<class 'tuple'>
[1, 2, 3, 4]

In [17]:
for pos, numero in enumerate(numeros):
    print(f'Posição {pos} está o valor {numero}')

Posição 0 está o valor 4
Posição 1 está o valor 3
Posição 2 está o valor 2
Posição 3 está o valor 1